@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate360Reverse {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.galaxy__image {
  animation: rotate360 15s linear infinite;
}

.sparkles__image-bottom,
.sparkles__image-top {
  animation: rotate360Reverse 15s linear infinite;
}

.feature-container {
  height: 100%;
  @media only screen and (max-width: 600px) {
    height: calc(100vh - 212px);
  }
}

.feature-slider {
  position: relative;
  height: 100%;
}

.feature-progress {
  transition: width 0.3s ease-in-out;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.info .w-fit {
  text-align: center;
}

.controls {
  left: 50%;
  z-index: 10;
  display: flex;
  transform: translateX(-50%);
  gap: 2vw;
}

.features__container {
  display: flex;
  width: 400vw; /* Adjust this if you have more or fewer features */
  transition: transform 0.5s ease-in-out;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw; /* Adjust this if you have different layouts for each feature */
}

.feature h4,
.feature p {
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.opacity-100 {
  opacity: 1 !important;
}

.opacity-30 {
  opacity: 0.3 !important;
}

.opacity-0 {
  opacity: 0 !important;
}
