@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Teko";
  font-style: normal; /* Light */
  font-weight: 300;
  src: url("./assets/font/Teko-Light.ttf");
}

@font-face {
  font-family: "Teko";
  font-style: normal; /* Regular */
  font-weight: 400;
  src: url("./assets/font/Teko-Regular.ttf");
}

@font-face {
  font-family: "Teko";
  font-style: normal; /* Medium */
  font-weight: 500;
  src: url("./assets/font/Teko-Medium.ttf");
}

@font-face {
  font-family: "Teko";
  font-style: normal; /* SemiBold */
  font-weight: 600;
  src: url("./assets/font/Teko-SemiBold.ttf");
}

@font-face {
  font-family: "Teko";
  font-style: normal; /* Bold */
  font-weight: 700;
  src: url("./assets/font/Teko-Bold.ttf");
}

@font-face {
  font-family: "SF UI Display";
  font-style: normal; /* Ultra-Light */
  font-weight: 100;
  src: url("./assets/font/sf-ui-display-ultralight.otf");
}

@font-face {
  font-family: "SF UI Display";
  font-style: normal; /* Thin */
  font-weight: 200;
  src: url("./assets/font/sf-ui-display-thin.otf");
}

@font-face {
  font-family: "SF UI Display";
  font-style: normal; /* Light */
  font-weight: 300;
  src: url("./assets/font/sf-ui-display-light.otf");
}

@font-face {
  font-family: "SF UI Display";
  font-style: normal; /* Medium */
  font-weight: 500;
  src: url("./assets/font/sf-ui-display-medium.otf");
}

@font-face {
  font-family: "SF UI Display";
  font-style: normal; /* SemiBold */
  font-weight: 600;
  src: url("./assets/font/sf-ui-display-semibold.otf");
}

@font-face {
  font-family: "SF UI Display";
  font-style: normal; /* Bold */
  font-weight: 700;
  src: url("./assets/font/sf-ui-display-bold.otf");
}

@font-face {
  font-family: "SF UI Display";
  font-style: normal; /* Heavy */
  font-weight: 800;
  src: url("./assets/font/sf-ui-display-heavy.otf");
}

@font-face {
  font-family: "SF UI Display";
  font-style: normal; /* Black */
  font-weight: 900;
  src: url("./assets/font/sf-ui-display-black.otf");
}

:root {
  font-family: Teko, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #f8f8f8;
  background-color: #0e0d0d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  scrollbar-width: none;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  --base-text: #f8f8f8;
  --primary: #0e0d0d;
  --gold: #efb325;
  --dark-box: #252424;
  --light-text: #f5f5f5;
  --dark-text: #151515;
  --hint-text: #646464;
}

li::marker {
  display: none;
}

.marquee {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  z-index: 10;
  background: var(--gold);
  padding: 0.5rem 0;
  width: 100%;
}

.marquee-content {
  display: flex;
  width: 200%; /* This ensures it covers at least twice the screen width */
  animation: marquee 20s linear infinite;
}

.marquee-content span {
  flex-shrink: 0;
  white-space: nowrap;
}

/* Keyframes for the scrolling effect */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.right-anim {
  transform: translate(150%);
  position: absolute;
  animation: right-move 8s linear infinite;
}

@keyframes right-move {
  0% {
    transform: translate(150%);
  }
  100% {
    transform: translate(-150%);
  }
}

.left-anim {
  transform: translate(-150%);
  position: absolute;
  animation: left-move 8s linear infinite;
}

@keyframes left-move {
  0% {
    transform: translate(-150%);
  }
  100% {
    transform: translate(150%);
  }
}

.main-anim {
  transform: translate(0%);
  position: absolute;
  animation: main-move 5s linear infinite;
}

@keyframes main-move {
  0% {
    transform: translate(125%);
  }
  100% {
    transform: translate(-125%);
  }
}

.anim-button {
  display: flex;
  flex-direction: column;
  gap: 3px;
  height: 20px;
  justify-content: center;
  width: 48px;
  z-index: 10;
  transition-duration: 300ms;
}

.anim-button:hover {
  gap: 5px;
}

.anim-button div {
  background-color: white;
  height: 2px;
  width: 100%;
  transition: background-color 300ms;
}

.anim-button div:last-child {
  width: 22px;
}

.anim-button:hover div {
  &:last-child {
    transition: width 300ms;
    width: 100%;
  }
  background-color: var(--gold);
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it covers all content */
  flex-direction: column;
}

.progress-bar {
  width: 80%;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 20px;
}

.progress-bar-fill {
  height: 100%;
  width: 0%;
  background-color: #76c7c0;
  transition: width 0.2s;
}

.progress-text {
  font-size: 1.5rem;
  color: #333;
  margin-top: 10px;
}

.header {
  overflow: hidden;
  transition: height 0.5s ease-in;
  height: 0px;
}

.header-expanded {
  height: calc(100vh - 92px);
  transition: height 0.5s ease-out;
  @media only screen and (max-width: 600px) {
    height: calc(100vh - 62px);
  }
}

.nav-text-item {
  text-shadow: 1px 1px 2px white, -1px 1px 2px white, -1px -1px 0 white,
    1px -1px 0 white;
  transition-duration: 0.4s;
  font-weight: 500;
  font-family: "Teko";
  font-size: 160px;
  line-height: 144px;
  width: fit-content;
  color: black;
}

.nav-text-item:hover {
  text-shadow: none;
  color: var(--white);
}
