@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Teko';
  font-style: normal; /* Light */
  font-weight: 300;
  src: url('./assets/font/Teko-Light.ttf');
}

@font-face {
  font-family: 'Teko';
  font-style: normal; /* Regular */
  font-weight: 400;
  src: url('./assets/font/Teko-Regular.ttf');
}

@font-face {
  font-family: 'Teko';
  font-style: normal; /* Medium */
  font-weight: 500;
  src: url('./assets/font/Teko-Medium.ttf');
}

@font-face {
  font-family: 'Teko';
  font-style: normal; /* SemiBold */
  font-weight: 600;
  src: url('./assets/font/Teko-SemiBold.ttf');
}

@font-face {
  font-family: 'Teko';
  font-style: normal; /* Bold */
  font-weight: 700;
  src: url('./assets/font/Teko-Bold.ttf');
}

@font-face {
  font-family: 'SF UI Display';
  font-style: normal; /* Ultra-Light */
  font-weight: 100;
  src: url('./assets/font/sf-ui-display-ultralight.otf');
}

@font-face {
  font-family: 'SF UI Display';
  font-style: normal; /* Thin */
  font-weight: 200;
  src: url('./assets/font/sf-ui-display-thin.otf');
}

@font-face {
  font-family: 'SF UI Display';
  font-style: normal; /* Light */
  font-weight: 300;
  src: url('./assets/font/sf-ui-display-light.otf');
}

@font-face {
  font-family: 'SF UI Display';
  font-style: normal; /* Medium */
  font-weight: 500;
  src: url('./assets/font/sf-ui-display-medium.otf');
}

@font-face {
  font-family: 'SF UI Display';
  font-style: normal; /* SemiBold */
  font-weight: 600;
  src: url('./assets/font/sf-ui-display-semibold.otf');
}

@font-face {
  font-family: 'SF UI Display';
  font-style: normal; /* Bold */
  font-weight: 700;
  src: url('./assets/font/sf-ui-display-bold.otf');
}

@font-face {
  font-family: 'SF UI Display';
  font-style: normal; /* Heavy */
  font-weight: 800;
  src: url('./assets/font/sf-ui-display-heavy.otf');
}

@font-face {
  font-family: 'SF UI Display';
  font-style: normal; /* Black */
  font-weight: 900;
  src: url('./assets/font/sf-ui-display-black.otf');
}

:root {
  font-family: Teko, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #f8f8f8;
  background-color: #151515;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  scrollbar-width: none;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  --base-text: #f8f8f8;
  --primary: #0e0d0d;
  --gold: #efb325;
  --dark-box: #252424;
  --light-text: #f5f5f5;
  --dark-text: #151515;
  --hint-text: #646464;
}

li::marker {
  display: none;
}

.right-anim {
  transform: translate(150%);
  position: absolute;
  animation: right-move 8s linear infinite;
}

@keyframes right-move {
  0% {
    transform: translate(150%);
  }
  100% {
    transform: translate(-150%);
  }
}

.left-anim {
  transform: translate(-150%);
  position: absolute;
  animation: left-move 8s linear infinite;
}

@keyframes left-move {
  0% {
    transform: translate(-150%);
  }
  100% {
    transform: translate(150%);
  }
}

.main-anim {
  transform: translate(0%);
  position: absolute;
  animation: main-move 5s linear infinite;
}

@keyframes main-move {
  0% {
    transform: translate(125%);
  }
  100% {
    transform: translate(-125%);
  }
}

.anim-button {
  display: flex;
  flex-direction: column;
  gap: 3px;
  height: 20px;
  justify-content: center;
  width: 48px;
  z-index: 10;
  transition-duration: 300ms;
}

.anim-button:hover {
  gap: 5px;
}

.anim-button div {
  background-color: white;
  height: 2px;
  width: 100%;
  transition: background-color 300ms;
}

.anim-button div:last-child {
  width: 22px;
}

.anim-button:hover div {
  &:last-child {
    transition: width 300ms;
    width: 100%;
  }
  background-color: var(--gold);
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it covers all content */
  flex-direction: column;
}

.progress-bar {
  width: 80%;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 20px;
}

.progress-bar-fill {
  height: 100%;
  width: 0%;
  background-color: #76c7c0;
  transition: width 0.2s;
}

.progress-text {
  font-size: 1.5rem;
  color: #333;
  margin-top: 10px;
}

.header {
  overflow: hidden;
  transition: height 0.5s ease-in;
  height: 0px;
}

.header-expanded {
  height: calc(100vh - 92px);
  transition: height 0.5s ease-out;
  @media only screen and (max-width: 600px) {
    height: calc(100vh - 62px);
  }
}

.nav-text-item {
  text-shadow: 1px 1px 2px white, -1px 1px 2px white, -1px -1px 0 white,
    1px -1px 0 white;
  transition-duration: 0.4s;
  font-weight: 500;
  font-family: 'Teko';
  font-size: 160px;
  line-height: 144px;
  width: fit-content;
  color: black;
  @media only screen and (max-width: 600px) {
    font-size: 69px;
    line-height: 63px;
  }
}

.nav-text-item:hover {
  text-shadow: none;
  color: white;
}

.globe_container_flame {
  position: absolute;
  top: 0%;
  right: -20%;
  width: 80%;
  height: 60%;
  mix-blend-mode: screen;
  opacity: 1;
  z-index: 2;
  transform: rotate(60deg);
}

@keyframes flame_appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  .globe_container_flame {
    width: 80%;
    height: 60%;
  }
}

#mainContactFormContainer {
  position: relative;
  overflow: hidden;

  /* background-color: #000; */
  background-color: #151515;
  /* border:1px solid red ; */
}

#formVideoContainer {
  position: absolute;
  top: -5.5%;
  left: -6%;
  width: 30vw;
  transform: rotate(-45deg);
  opacity: 0.9;
  mix-blend-mode: screen;
  /* border: 1px solid red; */
}

#mainContactForm {
  width: 100%;
  position: relative;
  z-index: 2;
  /* background-color: transparent; */
  padding: 5.2vw 6.25vw 6.9vw 6.25vw;
  /* opacity: 2.5; */
  display: flex;
}

@media only screen and (max-width: 600px) {
  #formVideoContainer {
    display: none;
  }
}
/* ist div with logo------------ */

#mainContactForm-logo-container {
  width: 100%;
}

#mainContactForm-logo {
  display: flex;
  flex-direction: column;
  /* gap:0 */
  width: 50%;
  /* border: 1px solid red; */
}

#contactFormBit {
  width: 7.08vw;
  margin-bottom: 3vw;
}

.mainContactForm-con-head {
  display: flex;
  gap: 0.83vw;
  align-items: center;
}
.mainContactForm-head {
  font-size: 2.6vw;
  color: #f8f8f8;
  font-weight: 400;
  /* border: 1px solid red; */
}
.mainContactForm-head-arrow {
  height: 1.45vw;
  width: 1.45vw;
  /* margin-top: 10px; */
}

#mainContactForm-copyRight {
  border-top: 1.8px solid #202020;
  width: 20vw;
  margin-top: 2vw;
}
.mainContactForm-copyRight-text {
  font-weight: 400;
  font-size: 0.93vw;
  color: #646464;
  margin-top: 1vw;
}

/* secod div with form --------------- */

#mainContactForm-form {
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
}

.mainContactForm-form-head {
  color: #f8f8f8;
  font-weight: 500;
  font-size: 5.1vw;
  line-height: 95%;
}
.mainContactForm-form-text {
  font-size: 1.25vw;
  font-weight: 400;
  color: #f8f8f8;
  margin: 0.7vw 0;
}

#myContactForm {
  width: 83%;
}
#myContactForm input,
#myContactForm input:focus {
  width: 100%;
  margin-top: 1.5vw;
  background-color: rgba(255, 0, 0, 0);
  border-radius: 6px;
  color: #646464;
  padding: 0.93vw 1.04vw;
}

#myContactForm input:focus {
  outline: none !important;
}

#myContactForm input::placeholder {
  color: #646464;
  font-size: 1.04vw;
}
#myContactForm textarea::placeholder {
  color: #646464;
  font-size: 1.04vw;
}

#form-message {
  display: flex;
  gap: 1vw;
}
#form-message textarea:first-child {
  width: 160%;
  background-color: rgba(255, 0, 0, 0);
  border-radius: 6px;
  color: #646464;
  padding: 0.93vw 1.04vw;
  height: 100%;
}

#form-message textarea:first-child:focus {
  outline: none !important;
}

#form-message input:nth-child(2) {
  /* border: 1px solid red; */
  color: #000;
  background-color: #efb325;
  font-size: 1.04vw;
  font-weight: 700;
  border: none;
}

#mainContactForm-subscribe {
  display: none;
}

.subsribeFormLapContainer {
  padding: 0 13.25vw 3.9vw 6.25vw;
  position: relative;
  z-index: 2;
  background-color: #151515 !important;
}
.subsribe-child {
  border-top: 1px solid #202020;
  padding-top: 1.5vw;
}

@media screen and (max-width: 650px) {
  .subsribeFormLapContainer {
    display: none;
  }

  #mainContactForm {
    flex-direction: column-reverse;
    padding: 16vw 5.33vw 5.33vw 5.33vw;
  }

  #mainContactForm-form {
    width: 100%;
    /* border: 1px solid red; */
  }

  .mainContactForm-form-head {
    font-size: 12.8vw;
  }
  .mainContactForm-form-text {
    font-size: 4.8vw;
    width: 70%;
    line-height: 6.24vw;
  }

  /* form css */
  #myContactForm {
    width: 100%;
    margin-top: 2.66vw;
  }

  #myContactForm input,
  #myContactForm input:focus {
    padding: 4vw 4.8vw !important ;
    margin-top: 3.2vw;
  }

  /* #myContactForm input:focus{
    padding: 15px 18px !important;
  } */

  #form-message {
    flex-direction: column;
  }

  #form-message textarea:first-child {
    padding: 4vw 4.8vw;
    height: 34.66vw;
    width: 100%;
    margin-top: 3.2vw;
  }

  #myContactForm input::placeholder {
    font-size: 4.26vw;
  }
  #myContactForm textarea::placeholder {
    font-size: 4.26vw;
  }

  #form-message input:nth-child(2) {
    font-size: 4.26vw;
    border-radius: 1.06vw;
  }

  /* bit logo box  */
  #mainContactForm-logo-container {
    flex-direction: column;
  }

  #mainContactForm-logo {
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 13.33vw;
  }

  #contactFormBit {
    width: 16.8vw;
    height: 20.26vw;

    /* border: 1px solid red; */
  }

  .mainContactForm-head {
    font-size: 8.53vw;
    margin-right: 2.13vw;
  }
  .mainContactForm-head-arrow {
    width: 4.8vw;
    height: 4.8vw;
  }

  #mainContactForm-copyRight {
    width: 100%;
    margin-top: 8vw;
  }

  .mainContactForm-copyRight-text {
    font-size: 4.26vw;
    margin-top: 4vw;
  }

  #mainContactForm-subscribe {
    display: flex;
    /* border: 1px solid red; */
    margin-top: 16vw;

    border-top: 1.8px solid #202020;
    flex-direction: column;
  }
  .subscribe-heading {
    font-weight: 600;
    font-size: 4.8vw;
    color: #efb325;
    width: 70%;
    line-height: 5.76vw;
  }

  #subscribeEmail {
    margin-top: 5.6vw;
  }

  #subscribeForm input::placeholder {
    font-size: 4.26vw;
    color: #646464;
  }

  #subscribeForm input,
  #subscribeForm input:focus {
    width: 100%;

    border: 1px solid #202020;
    background-color: rgba(255, 0, 0, 0);
    border-radius: 6px;
    color: #646464;
    padding: 4vw 4.8vw;
  }

  #subscribeForm input:focus {
    outline: none !important;
  }

  #subscribeForm input:nth-child(2) {
    font-size: 4.26vw;
    border-radius: 4px;
    margin-top: 3.73vw;
    color: #000;
    background-color: #f8f8f8;
    font-weight: 700;
    border: none;
  }
}

.stagger_animation_btn {
  z-index: 100;
  position: relative;
  /* white-space: nowrap; */
}

@media only screen and (max-width: 600px) {
  .stagger_animation_btn {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.stagger_button_ani_wrapper_1 {
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 0.833vw;
  font-size: 0.833vw;
  width: 100%;
  letter-spacing: normal;
  /* -webkit-text-size-adjust: 100%; */
  -webkit-letter-spacing: normal;
}
.stagger_button_ani_wrapper_2,
.stagger_button_ani_wrapper_4 {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 0.833vw;
  font-size: 0.833vw;
  width: 100%;
  letter-spacing: normal;
  /* -webkit-text-size-adjust: 100%; */
  -webkit-letter-spacing: normal;
}

@media only screen and (max-width: 768px) {
  .stagger_button_ani_wrapper_1,
  .stagger_button_ani_wrapper_2,
  .stagger_button_ani_wrapper_4 {
    height: 3.667vw;
    font-size: 3.667vw;
  }
}

#stagger_button_ani_container_2 {
  border-radius: 0.208vw;
}

@media only screen and (max-width: 600px) {
  #stagger_button_ani_container_2 {
    padding: 10px;
    letter-spacing: -1px !important;
    -webkit-text-size-adjust: 100%;
    -webkit-letter-spacing: normal;
    /* margin-top: -0.75vw !important; */
  }
}

#stagger_button_ani_container_3 {
  background-color: #efb325;
  width: 100%;
  /* height: 100%; */
  color: var(--dark-text);
  /* margin-top: 3vh; */
  border-radius: 5px !important;
}

.stagger_animation_btn span {
  color: var(--medium-black);
}

.stagger_animation_btn span p {
  font-family: 'SF UI Display Bold';
}

@media only screen and (max-width: 600px) {
  #stagger_button_ani_container_3 {
    margin-top: 1.5vw;
  }

  #stagger_button_ani_container_3 span {
    margin-top: 2vw;
    margin-bottom: 2vw;
  }
}

.stagger_button_1_ani,
.stagger_button_2_ani,
.stagger_button_3_ani,
.stagger_button_4_ani {
  text-shadow: 0 1.33vw 0px #151515;
}

@media only screen and (max-width: 768px) {
  .stagger_button_1_ani,
  .stagger_button_2_ani,
  .stagger_button_3_ani,
  .stagger_button_4_ani {
    text-shadow: 0 3.883vw 0px #151515;
  }
}

.step-i {
  background-image: url('./assets/img/compressed/investors-bg.webp');
}

.swiper {
  width: 100%;
  height: 100%;
}

.mySwiper {
  align-items: center;
  height: 24vw;
}

.swiper-wrapper {
  align-items: center;
  height: 24vw;
}

.swiper-slide.invester-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 200ms linear;

  border-radius: 4px;
  position: relative;
}

.image-container {
  /* width: 100%; */
  display: flex;
  align-items: center;
}

.image-container img {
  border-radius: 4px;
  /* width: 100%; */
}

.swiper-slide.invester-slide.swiper-slide-active .image-container img {
  mix-blend-mode: luminosity;
  height: 100% !important;
  border-radius: 4px 4px 0px 0px;
}

.swiper-slide.invester-slide.swiper-slide-active .image-container {
  background-color: #efb325;
}

.swiper-slide.invester-slide.swiper-slide-active {
  margin-right: 2.6vw !important;

  width: 20.8vw !important;
  position: relative;
  border-radius: 4px;
}

.swiper-slide.invester-slide.swiper-slide-next {
  width: 17.7vw !important;

  @media screen and (max-width: 900px) {
    width: 57.3vw;
  }
}

.swiper-slide.invester-slide.swiper-slide-prev {
  margin-right: 2.6vw !important;
  width: 17.7vw !important;
}

.text {
  display: none;
  transition: all 0.5s ease-in-out;
  border-radius: 0px 0px 4px 4px;
}

.swiper-slide.invester-slide.swiper-slide-active .text {
  display: flex;
}

.invester-text {
  /* width: 100%; */
  transform: translate(0, 0);
  transition: transform 1s ease-out;
}

.invester-text.slide-prev {
  animation: slide-down 1s ease-out;
}

.invester-text.slide-next {
  animation: slide-up 1s ease-out;
}

@keyframes slide-up {
  0% {
    transform: translate(0, 20%);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    transform: translate(0%, -20%);
    opacity: 0;
  }

  100% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
}

.line__carousel {
  background: linear-gradient(90deg, #f8f8f8 0%, rgba(248, 248, 248, 0) 100%);
}

.invester-slider {
  background-image: url('./assets/img/compressed/investors-bg.webp');
}

.invester-logo {
  height: 3.70833vw;
  width: 17.70833vw;
  align-items: center;
  overflow: hidden;
}

.invester-logo img {
  width: 100%;
  transition: 0.5s ease-in-out;
}

.invester-logo:hover img {
  transform: translateY(-100%);
}

@media screen and (max-width: 600px) {
  .mySwiper {
    height: 100vw;
  }

  .swiper-wrapper {
    height: 100vw;
  }

  .invester-logo {
    height: 15vw;
    width: calc(100% - 16vw);
  }

  .swiper-slide.invester-slide.swiper-slide-active {
    width: 73.3vw !important;
    margin-right: 20px !important;
  }

  .swiper-slide.invester-slide.swiper-slide-prev {
    width: unset;
    margin-right: 20px;

    margin-left: 55vw;
  }

  .swiper-slide.invester-slide.swiper-slide-next {
    width: 57.3vw !important;
  }

  .invester-logo img {
    width: 100%;
    height: 100%;
  }
}

/* -----900px  */
@media only screen and (min-width: 601px) and (max-width: 899px) {
  .invester-logo {
    height: 6vw;
    width: 100%;
  }

  .mySwiper {
    height: 36vw;
  }

  .swiper-wrapper {
    height: 36vw;
  }

  .invester-logo img {
    width: 100%;
    height: 100%;
  }

  .swiper-slide.invester-slide.swiper-slide-prev {
    width: 27.3vw !important;
    margin-right: 50px !important;
  }

  .swiper-slide.invester-slide.swiper-slide-next {
    width: 27.3vw !important;
  }

  .swiper-slide.invester-slide.swiper-slide-active {
    width: 30.3vw !important;
    margin-right: 50px !important;
  }
}

/* Loading.css */
.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.loading__progress {
  width: 0%;
  height: 1.5px;
  background-color: gold;
  transition: width 0.5s ease, background-color 0.5s ease;
}

.loading__text {
  margin-top: 1rem;
  font-size: 3rem;
  font-weight: 300;
  color: gold;
  text-align: center;
}

.right-anim {
  transform: translate(150%);
  position: absolute;
  animation: right-move 8s linear infinite;
}

@keyframes right-move {
  0% {
    transform: translate(150%);
  }
  100% {
    transform: translate(-150%);
  }
}

.left-anim {
  transform: translate(-150%);
  position: absolute;
  animation: left-move 8s linear infinite;
}

@keyframes left-move {
  0% {
    transform: translate(-150%);
  }
  100% {
    transform: translate(150%);
  }
}

.main-anim {
  transform: translate(0%);
  position: absolute;
  animation: main-move 5s linear infinite;
}

@keyframes main-move {
  0% {
    transform: translate(125%);
  }
  100% {
    transform: translate(-125%);
  }
}
